@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blackcolor: #1e1f2b;
  --darkblack: #000;
  --greencolor: #2ba386;
  --cyancolor: #cdfff3;
  --whitecolor: #fff;
}

body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

html{
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

header {
  background-color: var(--blackcolor);
  color: #fff;
  height: 100vh;
}

nav {
  height: 10vh;
  padding: 65px 1rem 0;
}

.navbar {
  max-width: 1100px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_nav {
  display: flex;
  gap: 12px;
}

.logo {
  width: 42px;
  height: 42px;
  display: grid;
  place-items: center;
  background-color: var(--cyancolor);
  color: var(--darkblack);
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar ul a {
  text-decoration: none;
  color: var(--whitecolor);
  opacity: 0.6;
  margin-left: 48px;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s ease;
}

.navbar ul a:hover {
  opacity: 0.8;
}

.right_nav {
  display: flex;
  align-items: center;
}

.right_nav > i {
  font-size: 24px;
  margin-left: 12px;
  display: none;
}

.navbar button {
  padding: 10px 32px;
  background-color: var(--greencolor);
  border: none;
  border-radius: 6px;
  transition: 0.4s ease;
}

.navbar button > a {
  text-decoration: none;
  color: var(--whitecolor);
  font-size: 16px;
  font-weight: 500;
}

.navbar button:hover {
  opacity: 0.9;
}

.header_container {
  padding-left: 1rem;
  max-width: 1250px;
  margin: auto;
  margin-top: 65px;
  display: grid;
  grid-template-columns: 500px 600px;
  justify-content: space-between;
}

.left_header_container {
  width: 100%;
  padding: 65px 0 65px 1rem;
  background-image: url(./images/Component\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.left_header_container > h1:first-child {
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
  opacity: 0.9;
}

.left_header_container > h1:last-child {
  font-weight: 600;
  font-size: 45px;
}

.left_header_container > p {
  font-size: 14px;
  color: var(--whitecolor);
  opacity: 0.8;
  margin: 1.5rem 0 2rem;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.left_header_container > a {
  text-decoration: none;
  color: var(--whitecolor);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
}

.left_header_container > a > i {
  font-size: 12px;
  background-color: rgba(211, 211, 211, 0.2);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
  margin-left: 15px;
  opacity: 0.8;
}

.about_me {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  margin-top: 3rem;
}

.nationality,
.projects,
.experience {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nationality > p,
.projects > p,
.experience > p {
  font-size: 12px;
  opacity: 0.8;
  letter-spacing: 0.5px;
}

.nationality > h3{
  display: flex;
  align-items: center;
}

.nationality img {
  width: 20px;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin-left: 5px;
}

.right_header_container {
  background-image: url(./images/Component\ 1\ \(1\).png);
  background-repeat: no-repeat;
  display: flex;
}

@media only screen and (max-width: 1200px) {
  .right_header_container{
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .left_nav > ul {
    display: none;
  }

  .right_nav > i {
    display: block;
  }

  .header_container{
    grid-template-columns: auto;
  }
}
